:root {
    --bg-color: #6256CA;
    --primaary-color:#FDFAD9;
    --secondary-color:#C1E2A4;
    --font: "Nunito Sans", sans-serif;
}

.cabecalho{
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: var(--primaary-color);
}