:root {
    --bg-color: #000000;
    --primaary-color:#c0a2c4;
    --secondary-color:#C1E2A4;
    --font: "Nunito Sans", sans-serif;
}
body{
    background-color: var(--bg-color);
    color: var(--primaary-color);
    font-family: var(--font);
    height: 100vh;
    margin: 0;
}

.cabecalho{
    background-color: var(--primaary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}

h1{
    font-size: 2rem;
    color: var(--bg-color);
    font-weight: 700
}

nav a{
    text-decoration: none;
    color: var(--bg-color);
    margin: 0 2rem 1rem 0;
    font-size: 1,2rem;
}