:root {
    --bg-color: #7065d7;
    --primaary-color:#FDFAD9;
    --secondary-color:#C1E2A4;
    --font: "Nunito Sans", sans-serif;
}
body{
    background-color: var(--bg-color);
    color: var(--primaary-color);
    font-family: var(--font);
    height: 100vh;
    margin: 0;
}

.cabecalho{
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: var(--primaary-color);
}